<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @session.title %>
</p>

<p>
  <b>Description:</b>
  <%= @session.description %>
</p>

<p>
  <b>Date:</b>
  <%= @session.date %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
